<div class="loader" *ngIf="loading">
    <h1>Cargando</h1>
</div>
<div class="container-acuse">
    <div class="header">
        <div class="header-logo">
            <img class="logo" src="../assets/image/sihos.png" >
        </div>
        <p class="header-title">SIHOS | Sistema de información</p>
    </div>
    <div class="content">

        <div class="breadcrumb">
            <p class="labels">Facturacion Electronica / Acuse Recibo</p>
            <p class="labels">Fecha de envio {{fecha}}</p>
        </div>

        <div class="row pb-2">
            <div class="col-12 col-sm-12">
                <p lang="es">La factura fue generada el día <span lang="es">{{fecha}}</span></p>
            </div>
        </div>

        <div class="row pb-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                <p class="labels">Empresa</p>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-6 col-6">
                <p>{{empresa}}</p>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                <p class="labels">Documento</p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                <p>{{documento}}</p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                <p class="labels">Tipo de comprobante</p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                <p>{{tipo}}</p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                <p class="labels">Fecha documento</p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                <p>{{fecha}}</p>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                <p class="labels">Valor total</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-3 col-sm-6 col-6">
                <p>{{total}}</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-7 col-sm-12 col-12 btn-select-div">
                <button class="btn btn-danger mr-2">Descargar documento PDF</button>
                <a class="btn btn-success" [href]="fileUrl" download="{{documento}}.xml">
                  Descargar documento XML
                </a>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                <p class="labels">Estado</p>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-6 col-6">
                <ng-select
                    class="ng-select-state"
                    [items]="estado"
                    bindValue="id"
                    bindLabel="name"
                    [(ngModel)]="estadoSelected"
                    [disabled]="true"
                    [disabled]="invalidAcuse">
                </ng-select>
            </div>
        </div>

        <div class="row pb-2">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <p class="labels">Comentarios</p>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="comentario"
                [disabled]="invalidAcuse"></textarea>
            </div>
        </div>

        <div class="btn-send mt-3" (click)="enviar()" *ngIf="!invalidAcuse">
            Enviar
        </div>
    </div>
    <div class="footer mt-4 pt-3">
        <p>®Tecnologia Sinergia S.A.S</p>
    </div>
</div>
<div class="acuse-success" *ngIf="stateSuccess">
    <div>
        <h1>Acuse Enviado</h1>
        <p>{{succesmessage}}</p>
    </div>
</div>
<div class="acuse-fail" *ngIf="stateFail">
    <div>
        <h1>Algo salio mal</h1>
        <p>{{errormessage}}</p>
    </div>
</div>
