p{
    font-family: sans-serif;
}
h1{
    font-family: sans-serif;
    font-weight: bold;
}
.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.container-acuse{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
}
.header{
    height: 35%;
    background-color: #15364e;
    align-items: center;
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-logo{
    width: 10%;
    height: 100%;
}
.logo{
    height: 100%;
    object-fit: cover;
}
.under-header{
    padding: 0.4%;
    background-color: lightgrey;
    text-align: end;
}
.header-title{
    color: white;
    font-size: 25px;
    margin-top: 15px
}
.content{
    padding: 2%;
}
.breadcrumb{
    background-color: #eaeaea;
    padding: 0.5%;  
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}
.labels{
    color: black;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}
.infos{
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
}
.ng-select-state{
    margin-bottom: 1%;
    font-family: sans-serif;
    margin-right: auto;
}
.btn-select-div{
    display: flex;
}
.btn-print{
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 6px;
    color: white;
    border: 1px solid gray;
    margin-right: 5px;
    cursor: pointer;
}
.color-red{
    background-color: red;
}
.color-green{
    background-color: green;
}
.txtarea-coments{
    width: 99%;
    height: 37px;
    background-color: #f1f1f1;
    border: 1px solid lightgray;
    font-family: sans-serif;
    padding: 1%;
    margin-bottom: 1%;
}
.btn-send{
    padding: 10px;
    background-color: lightgreen;
    width: fit-content;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.btn-send:hover{
    background-color: green;
}
.btn-send:active{
    background-color: darkgreen;
}
.footer{
    background-color: #15364e;
    color: white;
    text-align: center;
    padding: 0.2%;
}
.acuse-success{
    background-color: lightgreen;
    color: Black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.acuse-fail{
    background-color: lightsalmon;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.info{
    display: flex;
    
}

.align-right {
    float: right;
    margin-top: 0.9%;
}

.empresa-data-align{
    float: right;
    width: 90%;
    margin-top: 0.9%;
}

.label-data{
    margin-top: 0.9%;
}

